img height=32 src=author_image_url(author) data-placement="bottom" data-html="true" data-content="<div class='name'><a href='#{author.url}'>#{author.name}</a></div><div><span class='github'></span><a href='http://github.com/#{author.github}'>#{author.github}</div>" class="author-icon" style="float:right; padding-top: 2px;padding-right: 2px;"
