img src=gravatar_image_url(author.email, alt: author.name, size: 32) data-placement="bottom" data-html="true" data-content="<div class='name'><a href='#{author.url}'>#{author.name}</a></div><div><span class='github'></span><a href='http://github.com/#{author.github}'>#{author.github}</div>" class="author-icon"